footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,main,footer{
    padding: 25px;
}
@media(min-width:375){
    .all{
        color: navy;
    }
}

header{
    display: flex;
}
.menu{
    position: relative;
    left: 60%;
}
h1{
    position: relative;
    background-color: blue;
    top: 10px;
    left: 50px;
    right: 50px;
    text-align: center;
	width: 100%;
    color: rgb(251, 250, 252);
    margin: auto;
    font-weight: bold;
    background-attachment: scroll;
}


h3{
    flex: 1 0 auto;
    position: relative;
    left: 0;
    color: rgb(214, 142, 142);
    padding: 0mm;
    background-color: rgb(226, 23, 23);
}

.italic{
    color: rgb(154, 170, 12);
    
}



.underline_1{
    position: relative;
    left: 0;
    text-align: center;
    outline-style: double;
    background-color: rgba(148, 0, 211, 0.322);
}

#pic1{
    position: relative;
    top: 5%;
    left: 50%;

}
.planet{
    text-decoration:underline;
    text-indent: 40px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(56, 127, 197);
    color: rgb(238, 226, 211);
}
.hole{
    color: darkred;

    
}